html, body{
    margin: 0;
    padding: 0;
}

.accordion-label, .tab-label {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-panel, .tab-panel {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tabs .tab-panel:first-child {
    display: block;
}

img {
    width: auto;
    height: 250px;
  }
