#london-wrapper, #windsor-wrapper{
    display: none;
    height: 500px;
}

.photo-box {
    border: 2px solid #0463ca; /* Add your preferred border color */
}

.photo-box.active {
    border-color: #ceb004; /* Add your active border color */
}
